@font-face {
    font-family:"F25_Executive";
    src: url("fonts/f25_executive-webfont.woff2") format("woff2"),
         url("fonts/f25_executive-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: "Lucida Grande" sans-serif;
}

button{
	font-family : inherit;
}

body{
	background-color: rgb(29, 60, 221);
	/* overflow: hidden; */

}

#beautifulHeader{
  /* width:100%;
  height:110px; */

  /* background-color: black; */
  background-image: url(pics/mariah.jpg);
  width:208px;
  height: 110px;
}

#maincontainer{
	position:absolute;
	top:110px;
	right:5px;
	left:5px;
	bottom:20px;
}


/*CSS FOR TOP-BAR (CREATE CUSTOMER, PRODUCT, ORDER, ETC.. BAR) */

#top-bar{
  background-image: linear-gradient(rgb(73,77,83), rgb(51,53,57));
  border-top: 1px solid rgb(54, 57, 61);
  border-bottom: 1px solid rgb(28,28,28);
  height: 40px;
  width:100%;


}

#top-bar::after{ /*this is for the border underneath the bottom border of the top bar*/
  content: " ";
  position:absolute;
  z-index: -1;
  top:2px;
  left:0px;
  right:0px;
  bottom:2px;
  /* border: 2px solid rgb(50, 52, 56); */
  /* border: 20px solid rgb(50, 52, 56); */
}

#top-bar button{
  font-size: 22px;
  margin-top: 4px;
  background-color: transparent;
  border: none;
}
#unicorn:active{
  /* margin-left:3px;
  padding-bottom: 5px; */

}

button:focus{
  outline:0;
}

#top-bar button:active{
    /* vertical-align: top; */
    padding-top:8px;
}

#top-bar img:hover{
  -webkit-filter: drop-shadow(0 0 0.5rem #afeeee);
  filter: drop-shadow(0 0 0.5rem #afeeee);
}

#unicorn:hover{
  -webkit-filter: drop-shadow(0 0 0.5rem #afeeee);
  filter: drop-shadow(0 0 0.5rem #afeeee);
}

/*CSS FOR FLEX DISPLAY OF LEFT BOX AND RIGHT BOX BELOW TOP-BAR*/

#bigBox{
	display:flex;
	width:100%;
	height: calc(100% - 40px);
}

#leftBox{
	flex:auto;
}

#rightBox{
	flex:auto;
	width: calc(100% - 250px);

}

/*CSS FOR LEFT BOX*/


#leftBox{
  background-color: rgb(232, 233, 238);
  border-right: 1px solid rgb(98, 101, 104);
}


#leftBox{
	float: left;
	color:#000;

}

#leftBox li{
	list-style: none;
	color:#000;
	padding: 5px 2px;
}

/*CSS FOR RIGHT BOX*/

/*CSS FOR SEARCH BAR*/

#searchbar{
	height: 32px;
	background-image:linear-gradient(rgb(78, 83, 89), rgb(54, 59, 65));
	border-bottom: 1px solid black;

}

#showitems{
	margin-left:5px;
	margin-top:3px;
}

#searchbar div{
	display:inline-block;
	padding-top:3px;
}

#rightsearchbar{
	float:right;
}

#selectdb{
	float:left;
}


#searchForm{
	display:inline;
	margin-right: 20px;
}

/*CSS FOR SMART FIND*/
.content{
  height:100%;


}

.filter{
  background-color: rgb(237,237,237);
}

#smartFindRows{
  list-style: none;
  font-size: small;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  position:relative;
  padding-left:0;
  width:100%;

}

#smartFindRows li{
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid rgb(203,203,203);
  width: 100%;
}

#quantifier1{
  padding-left: 5px;
}

.under1, #quantifier2{
  padding-left: 35px;
}

.under2{
  padding-left: 65px;
}

.plusminusdiv{
  float:right;
}

#quantifier1 .plusminusdiv{
  padding-right: 15px;
}

.under1 .plusminusdiv{
  padding-right: 45px;
}

.under2 .plusminusdiv{
  padding-right: 75px;
}

.minus, .plus{
  border: 1px solid rgb(165, 165, 165);
  font-weight: bold;
  font-size: 13px;

  background-color: rgb(237,237,237);
  color: rgb(34, 34, 34);
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(226, 230, 234);
	font-size: small;
	height: 20px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /* font-size: 15px; */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*CSS FOR CONTAINER (TABLE DISPLAYING QUERIES)*/

#container{
	/* background-color: #f0f0f0; */
	cursor: default;
	height:calc(100% - 53px);
  background-color: rgb(212, 218, 224);
  overflow-y:auto;
  /* overflow:hidden; */

}



table{
	vertical-align: bottom;
	white-space: nowrap;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
	width:100%;

	table-layout: fixed;
}

table th{
	font-size: x-small;
	border: solid #606060 1px;
}
#waterGirl{
  overflow:visible;
  position:absolute;
  right: 0px;
  top:75px;
}
#waterGirl3{
  position:absolute;
  left: 90px;
  bottom: 0px;
}

#tableheader th{
  /* position:fixed; */
  /* position:fixed; */
  /* border-left:none;
  border-right:none; */

}

#main-bar th{
	font-size:small;
  /* width:100%; */
  height:100%;
	/* border-bottom:none; */
}

#main-bar button{
  position:relative;
	text-align:right;
	height:100%;
  width:100%;
  background-color: transparent;

	/* background-color: #f0f0f0; */
	border:none;
	/* color:#808080; */
  /* background-color: black; */
}

#main-bar button:hover{
	cursor:pointer;
}

.header{
	float:left;
	/* color:grey; */
	font-weight: bold;
}

#tableheader{
  /* width: 100%;
  height:100%; */
  /* bottom: 19px; */
  /* height:calc(100% - 19px); */
  /* table-layout: fixed;
  height:100%; */
  /* width:100%;
  height:100%; */

  /* height:100%; */
  background-color:black;
  color:black;

  /* height:100%; */

}

/* #table td {
	border: 1px solid #606060;
	padding: 0;
	margin: 0px;

	overflow: auto;

  }


#table div {
	resize: horizontal;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	display:block;

  }

#table td div {
	border: 0;
	width: auto;
	height: auto;

	min-width: 40px;
  } */



button:focus {outline:0;}

/* #table th:first-child{
	background-color: black;
} */

.row{
	font-size: small;
	height: 20px;
	/* max-width:100%; */
	/*width: 12.5%;*/

}

.row td{
	/* border: solid #606060 1px; */

  color:#444;
  position:relative;
}

td:not(.col4){
  overflow:hidden;
}

/* #table tr:first-child td{
	border-top:none;
} */

#tableheader tr:nth-child(odd){
  background-color: rgb(212, 218, 224);
  border-bottom: 1px solid rgb(202, 206,209);
  border-top: 1px solid rgb(228, 232, 236);
  /* border-right: 1px solid rgb(221, 221, 221); */
}

#tableheader tr:nth-child(even){
	background-color: rgb(225, 230, 234);
  border-top: 1px solid rgb(212, 218, 224);
  border-bottom: 1px solid rgb(199, 204, 208);
  /* border-right: 1px solid rgb(221, 221, 221); */
}

/*CSS FOR INVENTORY DROP DOWN ON PRODUCTS PAGE*/

.dot {
  height: 13px;
  width: 13px;
  margin-top: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.available{
  display: inline-block;
  margin-left: 2px;
}

.dropdownArrow{

  height: 0;
  width: 0;
  display: inline-block;
  border-top: 4px solid black;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  /* margin-bottom: 2px; */
  margin-left: 2px;
  /* border-bottom: 20px solid transparent; */
  /* border-bottom: 5px solid black; */
}

.dropdownTriangle{
  z-index: 1;
  overflow: visible;
  display: block;
  position: absolute;
  border: solid rgb(46, 46, 51);
  border-width: 8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: transparent;
  margin-left: 78px;
}

.invDropdown{
  /* display: none; */
  z-index: 1;
  overflow:visible;
  display: block;
  position: absolute;
  margin-top: 8px;
  margin-left: 65px;
  border-radius: 5%;
  background-image: url(pics/blacksands.jpeg);
  opacity: 0.87;
  padding: 15px;

}

.dotNum{
  margin-left: 5px;
  margin-right: 5px;
  display:inline-block;
  /* padding-top: -2px; */
  /* height: 50px; */
  margin-bottom: 4px;
  color: white;
  font-weight: bold;
}

/* Dropdown Button
i cant fucking function right now
*/
/* .dropbtn {
  background-color: transparent;
  color: white;
   padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

 Dropdown button on hover & focus
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

 The container <div> - needed to position the dropdown content
.dropdown {
  position: relative;
  display: inline-block;
}

 Dropdown Content (Hidden by Default)
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

 Links inside the dropdown
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

 Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #ddd}

Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)
.show {display:block;}
*/

/* .col1{

	width:50px;

}

.col2{
	width:75px;
}
.col3{
	width:47px;
}
.col4{
	width:67px;
}
.col5{
	width:52px;
}
.col6{
	width:76px;
}
.col7{
	width:67px;
}
.col8{
	width:50px;
} */
