@font-face {
  font-family: 'Digital-7';
  src: url('../fonts/digital-7/webfont/digital-7-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../fonts/digital-7/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


#transactionScreen{
  font-family: "Lucida Grande";
  /* font-family: "Lucida Grande" sans-serif; */
  color:white;
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#transactionScren div{
  /* font-family: "Lucida Grande" sans-serif !important; */
}

#transactionScreen input{
  background-color:rgb(40,40,40);
  /* color:white; */
}

#goBack{
  position:absolute;
  right:-35px;
  top: 50%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

#goBack span{
  transform: rotate(180deg);
  display:inline-block;
  font-size: 20px;
  margin-right: 35px;
  margin-top: 2px;
}

#ttopBar{
  /* overflow:hidden; */
  padding-top: 5px;
  width:100%;
  height:60px;
  border-bottom: 1px solid rgb(60, 60, 60);
  background-image: linear-gradient(rgb(60, 60, 60), rgb(23, 23, 23));
}

#ttopButtons{
  overflow:hidden;
  /* margin-top: 5px; */
  margin-left: 33%;
  height: 50px;
  width: 350px;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 10px;

}

#ttopButtons button{
  width: 12%;
  height: 50px;
  float:left;
  border-bottom: none;
  border-top: none;
  border-right: 1px solid rgb(16, 14, 14);
  border-left:none;
  /* border-left: 1px solid rgb(55, 55, 55); */
  background-image: linear-gradient(rgb(23, 23, 23), rgb(60, 60, 60));
}


#tsearchProduct img{
  border-radius:10px;
}

#tsearchCustomer{
  /* border-left: 1px solid rgb(55, 55, 55); */
}

#ttopButtons button:focus{
  background-image:none;
  background-color: rgb(0, 0, 0);
}

/* #ttopButtons button{
  display: inline-block;
} */

#tsearch{
  /* margin-left: 35%; */
  /* margin-top: 5px; */
  margin-left: 6px;
  margin-top: 5px;
  display:inline-block;
  height: 40px;
  color:rgb(167, 167, 167);
  font-size: 15px;
  width: 250px;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 15px;
  /* margin:0;
  margin-bottom: 100px;
  margin-left:100px; */
}

#tmainBox{
  display:flex;
  width:100%;
  height:calc(100% - 130px);
  background-color:red;
  background-image: url('../pics/poolwater.png');

  /* height:100%; */
}

#tleftBox{
  flex:1;
}

#tcustomerBox{
  color:rgb(167, 167, 167);
  width:90%;
  height:42%;
  margin-left: 10px;
  background-image: linear-gradient(rgb(34, 34, 34), rgb(8, 8, 8));
  overflow:hidden;
  position:relative;
}

#twalkintitle, #tcustomertitle{
  /* padding-top:10px; */
  /* padding-bottom: 5px; */
  /* font-family: "Lucida Grande" sans-serif; */
  display:inline-block;
  width:calc(50% - 4px);
  height:15%;
  text-align: center;
}

#twalkintitle:hover, #tcustomertitle:hover{
  cursor: pointer;
}

#tcustomertitle{
  background-image: none;
  /* background-image: linear-gradient(rgb(8, 8, 8), rgb(34, 34, 34)); */
  /* border-right: 1px solid black; */
}

#twalkintitle{
  /* width:52%; */
  background-image: linear-gradient(rgb(34, 34, 34), rgb(8, 8, 8));
  border-left: 1px solid rgb(54, 54, 54);
  border-bottom: 1px solid rgb(54, 54, 54);
}

#twalkintitle::before{

  /* border-left:1px solid black;
  width: 49%; */
}

#tcustomerInfo{
  padding-bottom: 5px;
}

#tcustomerInfo span:not(#tcustomername){
  font-size: 12px;
}

#tcustomername{
  display:inline-block;
  padding-left: 35%;
  padding-bottom: -5px;
  font-size: 20px;

}

.bold{
  font-weight: bold;
  padding-left: 10%;
  text-align: right;
}

.notbold{
  padding-left:5%;
  display: inline-block;
  vertical-align:top;
}


#tbeepBoopBox{
  /* margin-bottom: 40px; */
  margin-top: 20px;
  width:90%;
  height:45%;
  background-image: linear-gradient(rgb(34, 34, 34), rgb(8, 8, 8));
  margin-left: 10px;

}

#dranks, #gear, #other{
  background-image: linear-gradient(rgb(34, 34, 34), rgb(8, 8, 8));
}

#twalkinInfo{
  /* display:none; */
  margin-left: 5%;
  display:none;
}

#twalkinInfo input{
  color:white;
  margin-bottom: 4%;
  width: 90%;
  height: 20px;
  border-radius: 5px;
  border: none;
  border-right: 1px solid rgb(79, 79, 79);
  border-bottom: 2px solid rgb(44, 44, 44);
}

.tbeep{
  color:rgb(167, 167, 167);
  display: inline-block;
  width: 23%;
  padding: 1px;
  height:12%;
  font-size: 12px;
  text-align: center;
  border: 1px solid rgb(47, 47, 47);
  border-collapse: collapse;
}

.tbeep:hover{
  cursor: pointer;
}

#poch{
  border-bottom: none;
}

.tbuttonBox{
  padding-top: 5px;
  height: 84%;
  width:100%;
  overflow:auto;
  /* background-color:black; */

}

.tbuttonBox button:nth-child(odd){
  margin-left: 10%;
  /* left: 10%; */
}

.tbuttonBox button{
  /* margin: 2px; */
  vertical-align: top;
  margin-top: 4px;
  width:40%;
  height: 40px;
}

#tMiddleBox{
  flex:2;
  background-color:green;
  /* background-image: url('../pics/meateatingplants.jpg');
  background-repeat: no-repeat;
  background-position: bottom center; */
}

#transactionTable th{
  background-image: linear-gradient(rgb(34, 34, 34), rgb(8, 8, 8));
}

#transactionTable tr{
  /* height: 50px; */
  border-bottom: 1px solid rgb(43, 43, 42);
  border-left: 1px solid rgb(38, 38, 38);
  border-right: 1px solid rgb(38, 38, 38);
  border-top: 1px solid rgb(100, 101, 100);
  background-image: linear-gradient(rgb(40, 40, 40), rgb(85, 85, 85));
}

#transactionTable th:first-child, #transactionTable th:nth-child(4){
  width:10%;
}

#transactionTable th:nth-child(3), #transactionTable th:nth-child(5){
  width: 15%;
}

#transactionTable td{
  padding-top: 8px;
  padding-bottom:8px;
}

.qty{
  height:20px;
  width:40px;
  text-align:center;
  margin-right: 8px;
  display:inline-block;
  /* margin-bottom: 50px; */
  margin-left: 10px;
  /* background-image: linear-gradient(black, rgb(40,40,40)); */
}

.qty, .sell, .discount, .totalsell{
  background-image: url('../pics/static.jpg');
  background-size: cover;
  color: rgb(57, 255, 20);
  /* font-family: 'Digital-7'; */
}

#tMiddleBox li div{
  display:inline-block;
}

/* .tproduct span{
  display: inline-block;
} */

/* .tproduct,  .tproduct span{
  display:inline-block;
} */

.productName{
  font-size: 15px;
  /* padding-bottom: 15px; */
  margin-top: 10px;
}
.productId{
  font-size: 12px;
  margin-top: 5px;
}

#tMiddleBox li div:last-child{
  float:right;
  margin-right: 10px;
  margin-top: 10px;
}

.sell, .discount, .totalsell{
  text-align:right;
  margin-left: 5px;
}


.sell, .discount{
  height: 20px;
}
.sell{
  width:80px;
}
.discount{
  width:30px;
}

.totalsell{
  height:30px;
  width: 80px;
}

#tbottomBar{
  height: 64px;
  background-image: linear-gradient(rgb(75, 75, 75), rgb(1, 1, 1));
  border-top: 1px solid rgb(90, 90, 90);
}

#checkout, #tpriceBox{
  float:right;
}

#clear, #checkout{
  height: 70%;
  border-radius: 5px;
  width: 8%;
  color:white;
  border: none;
  font-size: 15px;
  margin-top: 9px;
}

#clear{
  background-image: linear-gradient(rgb(179, 71, 69), rgb(97, 9, 8));
  margin-left: 10px;
  text-shadow: 1px 1px red;
  /* border-top: 1px solid rgb(86, 58, 57); */
  /* border-right: 1px solid rgb(108, 44, 42);
  border-left: 1px solid rgb(115, 45, 43); */
}

#checkout{
  background-image: linear-gradient(rgb(155, 224, 144), rgb(78, 116, 72));
  border-top: 1px solid rgb(78, 92, 75);
  border-bottom: 1px solid rgb(78, 127, 71);
  border-right: 1px solid rgb(118, 157, 111);
  border-left: 1px solid rgb(120, 160, 113);
  margin-right: 10px;
    text-shadow: 1px 1px green;
}

#tpriceBox{
  border-radius: 5px;
  border: 1px solid rgb(89, 89, 89);
  height:85%;
  width:35%;
  margin-top: 2px;
  color: rgb(186, 222, 174);
  margin-right: 10px;
  font-size: 10px;
}

#tpriceButtons, #tpriceTax, #tpricePrice{
  display:inline-block;
  height:100%;
}
#tpriceButtons{
  width:20%;
}
#tpricePrice{
  width:calc(45% - 2px);
}

#tpriceTax{
  border-left: 1px solid rgb(89, 89, 89);
  border-right: 1px solid rgb(89, 89, 89);
  width:35%;
  vertical-align: top;
}

#taxFlex, #priceFlex{
  width:100%;
  height:100%;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.tflex{
  flex:1;
}
.pp1{
  margin-left:3px;
}
.pp2{
  float:right;
  margin-right: 3px;
}

.taxflex1{
  background-color:yellow;
}
.taxflex2{
  background-color:green;
}
#priceFlex1{
  background-color:red;
}
#priceFlex2{
  background-color:blue;
}

#tpriceButtons{
  vertical-align: top;
}
